In [1]:
import hidrocl
import hidrocl_paths as hcl
print(hidrocl.__version__)

0.0.5

In [2]:
pp = hidrocl.HidroCLVariable("pp",
                             "./testfiles/imerg.csv",
                             "./testfiles/imerg_p.csv")

Database found, using ./testfiles/imerg.csv
Database found, using ./testfiles/imerg_p.csv

In [3]:
imerg = hidrocl.Gpm_3imrghhl(pp,
                             product_path="./testfiles/imerg/",
                             vector_path="./testfiles/Vectors/HidroCL_boundaries.shp",
                             pp_log="./imerg.txt")

In [4]:
imerg.run_extraction()

Processing scene 20000601 for imerg
Time elapsed for 20000601: 11 seconds
Processing scene 20000602 for imerg
Time elapsed for 20000602: 11 seconds

In [5]:
imerg.pp.observations

Empty DataFrame
Columns: [name_id, 1001001, 1001002, 1001003, 1020002, 1020003, 1021001, 1021002, 1041002, 1044001, 1050002, 1050004, 1201001, 1201003, 1201005, 1210001, 1211001, 1300009, 1310002, 1410004, 1502002, 1502008, 1610004, 1730002, 1730003, 1730007, 1730012, 2101001, 2103001, 2103002, 2103014, 2104002, 2104003, 2104013, 2105001, 2105002, 2105005, 2105007, 2110001, 2110002, 2110004, 2110031, 2112005, 2112006, 2112007, 2113001, 2120001, 2510001, 3022001, 3041001, 3041002, 3041003, 3041004, 3041005, 3050001, 3404001, 3414001, 3421001, 3430001, 3430003, 3431001, 3434003, 3450001, 3453001, 3802001, 3804002, 3806001, 3814003, 3815001, 3815002, 3820001, 3820002, 3820003, 3825001, 4301002, 4302001, 4308001, 4311001, 4313001, 4314002, 4320001, 4323001, 4501001, 4503001, 4511002, 4512001, 4513001, 4514001, 4515002, 4520001, 4522002, 4523002, 4530001, 4531002, 4532001, 4533002, 4537001, 4558001, 4703002, 4704001, ...]
Index: []

[0 rows x 433 columns]

In [6]:
imerg.pp.checkdatabase()

Database found, using ./testfiles/imerg.csv

In [7]:
imerg.pp.observations

,name_id,1001001,1001002,1001003,1020002,1020003,1021001,1021002,1041002,1044001,...,12820001,12825002,12861001,12863002,12865001,12872001,12876001,12876004,12878001,12930001
date,,,,,,,,,,,,,,,,,,,,,
2000-06-01,20000601,0,1,0,0,0,0,0,0,0,...,6,1,2,1,0,0,3,0,0,2
2000-06-02,20000602,0,0,0,0,0,0,0,0,0,...,2,8,2,1,2,2,5,6,7,7